.section {
  margin-top: 9.6rem;
}

.listing-info-box {
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #fa6700;
  /* background-color: green; */
  color: #fff;
  padding: 1rem 2.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2.4rem;
}

.btn-container {
  display: flex;
  gap: 2rem;
}

.listing-btn {
  background-color: #fff;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  /* letter-spacing: 0.5px; */
  padding: 0.5rem 1rem;
  text-transform: capitalize;
}

.claim-btn {
  /* background-color: #03a34d; */
  background-color: #198754;
  color: #fff;
  transition: all 0.5s;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
}

.claim-btn:hover,
.claim-btn:active {
  background-color: #17804f;
}

.contact-btn {
  background-color: #fff;
  color: #fa6700;
  transition: all 0.5s;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
}

.contact-btn:hover,
.contact-btn:active {
  color: #e15d00;
}

.details-header {
  font-size: 1.6rem;
  font-weight: 500;
}

.details-line {
  border-top: 3px solid #fa6700;
  opacity: 1;
  margin: 1rem 0 2rem 0;
}

.details,
.location-details {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2;
}

.details span,
.location-details span {
  font-weight: 500;
}

.details div:last-child {
  margin-bottom: 2.4rem;
}

/* .location-details{
  font-size: 1.4rem;
  font-weight: 600;
} */

.found-list {
  margin-bottom: 4.8rem;
}
