/* 
--- 01 TYPOGRAPHY SYSTEM

- FONT SIZES (px) 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-FONT WEIGHT
DEFAULT: 400
MEDIUM: 500
SEMI-BOLD: 600
BOLD: 700
-LINE HEIGHT
DEFAULT: 1
SMALL: 1.05
MEDIUM: 1.2
LARGE: 1.8
PARAGRAPH DEFAULT:1.6

-- LETTER SPACING
-0.5PX
0.75PX
--- 02 COLOUR SYSTEM

- PRIMARY: #FA6700
- TINT: 
#005246
#C4FCF0
#4C8077


- SHADES:
Dark
#e15d00 10%
#c85200 20%
#af4800 30%
#4b1f00 70%
#321500 80%
#190a00 90%

Light
#fb761a
#fb8533
#fc954d
#fed1b3
#fdb380
- ACCENT:
- GREYS
#555
#767676

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS
DEFAULT: 9px
MEDIUM: 11PX

--- 07 WHITESPACE

--- SPACING SYSTEM (px) 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* **************************** */
/* NAv*/
/* **************************** */

.header {
  padding: 1rem 6.4rem;
  height: 5.6rem;
  background-color: #fa6700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 2.4rem;
  text-transform: uppercase;
}

.logo a {
  text-decoration: none;
}

.lost {
  color: #fff;
  font-weight: 900;
}

.found {
  background-color: #fff;
  color: #fa6700;
  font-weight: 600;
  padding: 0.2rem;
}

.main-nav {
  list-style-type: none;
  display: flex;
  /* gap: 1.4rem; */
  justify-content: center;
  align-items: center;
}

.nav-items {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem;
  color: #fff;
  transition: all 0.1s;
}

.active {
  transition: all 0.1s;
  border-bottom: 3px solid #fff;
}

/* Mobile */
.btn-mobile-nav {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  width: 2.8rem;
  height: 2.8rem;
  color: #222;
}

.close-icon {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6.4rem;
  padding-top: 0;
  padding-bottom: 0;
  /* background-color: rgba(255, 255, 255, 0.97); */
  z-index: 9999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  transition: all 0.3s ease-in-out;
}

/* ******************* */
/* Section Hero */
/* ******************* */

.section-hero {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.header-primary {
  font-size: 5.2rem;
  font-weight: 800;
  line-height: 1.4;
  color: #222;
  /* color: #0d6efd; */

  animation-name: header;
  animation-duration: 1s;
}

@keyframes header {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    /* color: #555; */
  }
}

.hero-lost {
  color: #fa6700;
}
.hero-found {
  background-color: #fa6700;
  color: #fff;
  padding: 2px;
}

.hero-slide {
  position: relative;
  overflow: hidden;
}

.carousel-container {
  position: relative;
}

.slide-1 {
  background-image: url("/img/hero-img-1.jpg");
  /* background-color: #fa6700; */
}

.slide {
  height: auto;
  transition: all 1s;
}

.slide-2,
.slide-3 {
  position: absolute;
  top: 0;
}

.carousel-img {
  width: 100%;
  height: 100%;

  position: relative;
}

.hero-text {
  font-size: 2rem;
  /* color: #fa6700; */
  background-color: #fff;
  padding: 0.5rem 1rem;

  position: absolute;
  z-index: 1000;

  top: 90%;
  transform: translate(40%);
}

.feedback {
  font-size: 1.6rem;
  line-height: 1.6;
  padding-top: 1.6rem;
  margin-bottom: 2.4rem;
}

.arrow-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 43%;
}

.arrow {
  width: 4.8rem;
  height: 4.8rem;
  border: none;
  background-color: #fff;
  font-size: 1.8rem;
  /* color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
}

.arrow:active,
.arrow:hover {
  background-color: #e15d00;
}

.btn--left,
.btn--right {
  background-color: transparent;
  border: none;
}

/* ******************* */
/* Lost and found section */
/* ******************* */

.nav-item {
  font-size: 1.8rem;
}

.nav-link {
  color: #fa6700;
  transition: all 0.5s;
}
.nav-link:hover,
.nav-link:active {
  color: #222;
}

.nav-link.active {
  background-color: #fa6700 !important;
  color: #fff !important;

  padding: 10px 100px;
}
.nav-pills {
  justify-content: space-around;
  align-items: center;
}

.tab-pane {
  font-size: 2.4rem;
}

/* Found */
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
}
